<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cong.fishisland.mapper.user.EmailBanMapper">

    <resultMap id="BaseResultMap" type="com.cong.fishisland.model.entity.user.EmailBan">
            <id property="id" column="id" />
            <result property="email" column="email" />
            <result property="emailSuffix" column="emailSuffix" />
            <result property="reason" column="reason" />
            <result property="createTime" column="createTime" />
            <result property="updateTime" column="updateTime" />
        <result property="bannedIp" column="bannedIp" />
    </resultMap>

    <sql id="Base_Column_List">
        id,email,emailSuffix,reason,createTime,updateTime,
        bannedIp
    </sql>
</mapper>
